.about {
    display: flex;
    box-shadow: 0px 0px 50px 1px black;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.aboutDesc {
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.basicInfo {
 width: 50%;
}

.descBasicInfo{
    display:flex;
    flex-direction: column;
}

.paddingDescBlock {
padding: 20px;
}

.title {
    font-weight: bold;
}

.box-data{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.box-data-whitout-pad {
    display: flex;
    flex-direction: row;
}

.padding {
    flex-basis: 30%;
}

@media all and (max-width: 990px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutDesc {
        width: 90%;
        height: 50%;
    }

    .basicInfo {
        width: 90%;
        height: 50%;
    }
}

@media all and (max-width: 520px) {
    .box-data, .box-data-whitout-pad {
        flex-direction: column;
}
}