.navbar {
  background-color: #ffffff1a;
}

.nav-link{
color: #747474 !important;
}

.navbar-brand{
  color: #747474 !important;
  font-size: 15px !important;
}

.btn {
  background: #74747496;
}

.btn:hover {
  background: rgb(133, 133, 133)
}

.btn:active {
  background: rgba(255, 255, 255, 0.616) !important;
}

/* .collapse {
  background: white !important;
} */