.navbar {
  padding-left: 50px;
  padding-right: 30px;
}

.navbarBg {
  background-color: #ffffff1a;
}

.nav-link{
color: #747474 !important;
padding-right: 20px !important;
text-shadow: 2px 2px 5px black !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.699) !important;
}

.navbar-brand{
  color: #747474 !important;
  font-size: 15px !important;
  text-shadow: 2px 2px 5px black !important;
}

.navbar-brand:hover {
  color: rgba(255, 255, 255, 0.699) !important;
}

.btn {
  background: #74747496 !important;
  font-size: 16px !important;
}

.btn:hover {
  background: rgb(133, 133, 133) !important;
}

.btn:active {
  background: rgba(255, 255, 255, 0.616) !important;
}

@media all and (min-width: 767px) {
  .navbar {
    background-color: #00000000
  }
}