.parallax {
    background: url('../images/planeX.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 10000px;
}

.centerText {
    text-align: center;
    color: white;
}

