.stickyNavbar {
    display:block;
    position: sticky;
    top: 0px;
}

.aboutDescription {
    margin-left: 11%;
    margin-right: 11%;

}

.aboutContainer {
    margin-bottom: 150px;
    margin-top: 100px;
}